celerybeat-schedule
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
*.egg-info/
dist/
build/
# versions/  <-- removed to allow alembic versions
!backend/alembic/versions/
!alembic/versions/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.next/
out/

# Environment
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# IDEs and OS-specific
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
